<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_kM1kvWFNdJttbPUNpCkdp_KitmCG5L8</string>
	<key>GCM_SENDER_ID</key>
	<string>329551685826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cmpai.project.CmpAi</string>
	<key>PROJECT_ID</key>
	<string>cmpai-57733</string>
	<key>STORAGE_BUCKET</key>
	<string>cmpai-57733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329551685826:ios:c0e7693a1a60ec15d8b35b</string>
</dict>
</plist>